html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Poppins;
}

#grid {
    width: 100%;
    height: 100vh; 
}

.left {
    width: 30%;
    height: 100vh;
    float: left;
    background-color: orange;
}

.prev-cover {
    width: 30%;
    height: 50%;
    position: absolute;
    background: url(img/res/leehi-noone.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    background: url(img/current/taeyeon-fine.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.next-cover {
    width: 30%;
    height: 50%;
    position: absolute;
    background-color: azure;
    background: url(img/res/sooyoung-wb.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.middle {
    width: 40%;
    height: 100vh;
    float: left;
    background-color: purple;
}

.right {
    width: 30%;
    height: 100vh;
    float: left;
    background-color: gray;
}

@media(max-width:768px) {
    .middle {
        width: 100%;
    }

    .left {
        position: absolute;
        top: 100%;
        width: 100%;
    }

    .prev-cover {
        width: 100%;
    }

    .next-cover {
        width: 100%;
    }

    .right {
        position: absolute;
        top: 200%;
        width: 100%;
    }
}