html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Poppins;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    box-shadow: 0 2px 13px -4px aqua;
}

nav .logo {    
    height: 80px;
    float: left;
    padding: 22px 80px;
    font-size: 24px;
}

.logo a {
    border: 2px solid aqua;
    padding: 5px 20px 5px 20px;
    color: aqua;
    text-decoration: none;
}

nav ul {
    float: right;
    display: flex;
    padding: 10px 60px;
}

nav ul li {
    list-style: none;
    font-size: 18px;
    padding: 0px 30px;
}

nav ul li a {
    color: aqua;
    text-decoration: none;
}

#toggle {
    position: inline-block;
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
    visibility: hidden;
    margin: 25px 15px;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    margin-top: 3px;
    border-radius: 20%;
    background-color: aqua;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-5px, -6px);
}

#list2 {
    position: absolute;
    right: -1%;
    top: 90%;
    margin: 0px;
    display: none;
    padding: 0px;
    list-style: none;
    font-size: 18px;
    text-decoration: none;
    background-color: black;
    opacity: 0.5;
}

#list2 li {
    padding: 40px;
    color: aqua;
    cursor: pointer;
    text-align: center; 
    box-shadow: 1px 1px aqua;
}

@media (max-width: 768px) {
    nav .logo {
        padding: 22px 40px;
    }

    nav ul {
        display: none;
    }

    #toggle {
        visibility: visible;
    }
}

#container1 {
    width: 100%;
    height: 100%;
    margin: auto;
}

slider {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
}

slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    animation: slide 12s infinite;
}

slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url(img/city.jpg);
    background-size: cover;
    background-position: center;  
}

slide:nth-child(2) {
    animation-delay: 2s;
    background-image: url(img/city2.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(3) {
    animation-delay: 5s;
    background-image: url(img/city3.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(4) {
    animation-delay: 8s;
    background-image: url(img/city4.jpg);
    background-size: cover;
    background-position: center;
}

@keyframes slide {
    0% { left:100%; width: 100%;}
    5% { left:0%;}
    25% { left:0%;}
    30% { left:-100%; width: 100%;}
    30.0001% { left:-100%; width: 0%;}
    100% { left:100%; width: 0%;}
}

.layer {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;

}

.img {
    width: 120px;
    height: 120px;
    background: url(img/image.jpg);
    background-size: cover;
    border-radius: 50%;
}

.jumbo {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 70%;
    padding: 0px auto;
}

#container1 h1 {
    height: 10px;
    font-size: 40px;
    color: white;
}

#container1 h1 span {
    color: aquamarine;
}

#container1 h2 {
    padding-top: 5px;
    font-size: 18px;
    font-weight: bold;
    color: aqua;
}

#container {
    padding-top: 1px;
    height: 90%;
}

#container1 h3 {
    color: aqua;
    font-weight: lighter;
}

.project {
    width: 70%;
    margin: 20px auto;
}

.my- {
    margin-top: 40px;
    text-align: center;
}

@media (max-width: 768px) {
    .jumbo {
        left: 15%;
        bottom: 5%;
    }

    #container1 h1 {
        font-size: 30px;
    }

    #container1 h2 {
        font-size: 20px;
    }

    #container1 h3 {
        font-size: 16px;
    }
}

.box {
    width: 30%;
    float: left;
    text-align: center;
    padding: 40px 10px 0 20px;
}

ion-icon {
    font-size: 60px;
    color: aqua;
}

@media(max-width: 768px) {
    #container {
        height: 180%;
    }
    .project {
        margin: 40px auto;
    }
    
    .box {
        margin-top: 30px;   
        width: 100%;
        padding: 0px;
    }
}

#container3 {
    height: 25%;
}

.contact {
    width: 70%;
    margin: auto;
}

.contact h3 {
    text-align: right;
}

.line {
    width: 100%;
    height: 1px;
    background-color: aqua;
}

.contact .ct {
    margin: 10px;
}

.contact ul li {
    width: 30%;
    list-style: none;
    float: left;
    text-decoration: none;
    padding: none;
}

.num {
    position: absolute;
    left: 15%;
}

.num span, .email span , .follow span {
    font-weight: bold;
}

.email {
    text-align: right;
    margin-left: 113px;
}

.follow {
    text-align: left;
    margin-left: 200px ;
}


.follow ul {
    display: flex;
    float: left;
}

.email span {
    position: absolute;
}

@media(max-width: 768px) {
    #container3 {
        height: 40%;
    }

    .contact .ct {
        margin: 0px;
    }
    
    .contact ul li {
        width: 109%;
        margin-top: 10px;
    }
    
    .num {
        position: static;
    }
    
    .email, .num {
        text-align: left;
        margin-left: -40px;

    }

    .email ul, .num ul {
        float: right;
    }

    .follow {
        margin-left: -40px;
        text-align: left;
    }

    .follow ul {
        float: right;
    }
    
    .email span {
        position: static;
    }
}